<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--FileAppender-->
        <File name="ToolFile" fileName="logs/ToolLog.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <!--<File name="File_M" fileName="logs/targetLog_M.log">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        <!--</File>-->
        <File name="File_M" fileName="logs/targetLog_M.log" Append="false">
            <PatternLayout pattern="%msg%n"/>
        </File>
        <File name="File_Var" fileName="logs/targetLog_Var.log" Append="false">
            <PatternLayout pattern="%msg%n"/>
        </File>
        <File name="File_MJR" fileName="logs/targetLog_MJR.log" Append="false">
            <PatternLayout pattern="%msg%n"/>
        </File>

    </Appenders>
    <!-- levels: ALL,TRACE, DEBUG, INFO, WARN, ERROR ,FATAL,OFF-->
    <Loggers>

        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="AfTool" level="trace" additivity="false">
            <AppenderRef ref="ToolFile"/>
        </Logger>
        <Logger name="AfTool_M" level="trace" additivity="false">
            <AppenderRef ref="File_M"/>
        </Logger>
        <Logger name="AfTool_Var" level="trace" additivity="false">
            <AppenderRef ref="File_Var"/>
        </Logger>
        <Logger name="MyJunitResult" level="trace" additivity="false">
            <AppenderRef ref="File_MJR"/>
        </Logger>
    </Loggers>
</Configuration>